.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.item {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-sizing: border-box;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f022;
  }
}
