.detail_container {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: auto;
  align-items: flex-start;
  justify-content: center;
  background-color: #00000022;
  border-radius: 0.5rem;
  padding: 0.5rem;
  z-index: 1;
  visibility: hidden;
}

.detail_item {
  display: flex;
  flex-direction: row;
  width: auto;
  gap: 0.25rem;
}

.detail_item_name {
  display: block;
  width: auto;
  max-width: 5rem;
  font-size: 0.75rem;
  color: #00000099;
  word-break: normal;
  overflow-wrap: break-word;

  &::after {
    content: ":";
  }
}

.detail_item_text {
  display: block;
  width: auto;
  min-width: 7rem;
  max-width: 10rem;
  font-size: 0.75rem;
  color: #00000099;
  word-break: normal;
  overflow-wrap: break-word;
  word-spacing: -0.25rem;
}
