.stale_container {
  display: block;
  width: 100%;
}

.name_text {
  display: block;
  width: 100%;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
  filter: drop-shadow(0 0 0.5px black) drop-shadow(0 0 0.5px black);
}

.rename_form {
  display: block;
  width: 100%;
  text-align: center;
}

.rename_input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #000000;
  border-radius: 0.5rem;
  box-sizing: border-box;
}
