.container {
  padding: 8px 10px;
  overflow: auto;
  font-family: "Pixelated MS Sans Serif", "MS Sans Serif", sans-serif;
  font-size: 11px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  padding: 2px 6px;
  vertical-align: top;
  white-space: nowrap;
  line-height: 1.4;
}

.label {
  color: #00000099;
  min-width: 50px;
  user-select: none;

  &::after {
    content: ":";
  }
}

.value {
  color: #000000cc;
  word-break: break-all;
  white-space: normal;
}

.loading,
.error {
  font-size: 11px;
  color: #00000088;
}
